.container {
  display: flex;
  justify-content: center;
}
.nav {
  width: 30vw;
  position: fixed;
  display: block;
  align-self: center;
  top: 32px;
  display: flex;
  justify-content: space-around;
  border-radius: 16px;
  gap: 1rem;
  border-color: goldenrod;
  border-style:groove;
  border: 2px solid bisque;
}

.link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 40px;
}

.activeLink {
  border: 1px solid transparent;
  background-color: #fff;
}

.inActiveLink {
  border: 1px solid black;
  color: rgb(96, 96, 96);
}
